/* Global reset and default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f0f2f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

/* Main container for the page */
.store-container {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  text-align: center;
}

/* Header section */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3498db;
  padding: 20px;
  color: white;
  border-radius: 10px;
}

.back-btn {
  background-color: #3498db;
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-btn:hover {
  background-color: #2980b9;
}

h2 {
  font-size: 24px;
  margin: 0;
  color: white;
}

/* Image section */
.image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

#upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#image-input {
  margin-bottom: 10px;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  max-width: 300px; /* 폼을 가운데 정렬하고 크기를 제한 */
}

.large-btn {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.large-btn:hover {
  background-color: #2980b9;
}

.uploaded-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  background-color: #ecf0f1;
  padding: 20px;
  border-radius: 10px;
  width: 40%;
}

#uploaded-img-preview {
  max-width: 100%;
  border-radius: 10px;
}

/* Product list section */
.product-list {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
}

th {
  background-color: #34495e;
  color: white;
}

td {
  background-color: white;
  color: #2c3e50;
}

.delete-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: darkred;
}

/* Control buttons */
.control-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .store-container {
    padding: 15px;
  }

  .image-section {
    flex-direction: column;
    align-items: center;
  }

  .uploaded-image {
    width: 100%;
    margin-top: 20px;
  }

  table th,
  table td {
    padding: 8px;
    font-size: 14px;
  }

  footer button {
    font-size: 16px;
  }
}
